# =========================
# BACKEND (.NET / C#)
# =========================
[Bb]in/
[Oo]bj/
[Tt]est[Rr]esults/
*.user
*.suo
*.dbmdl
*.jfm
*.pfx
*.publishsettings
appsettings.Development.json
appsettings.Secret.json

# Visual Studio / VS Code
.vs/
.vscode/
*.code-workspace

# =========================
# FRONTEND (React / Node)
# =========================
node_modules/
dist/
build/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# INFRAESTRUCTURA & DOCKER
# =========================
Dockerfile
docker-compose*.yml
docker-compose*.yaml
.env

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

**/.env
.aider*
